.home {
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.home-section button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #005fc4;
    color: rgb(255, 250, 247);
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-section button:hover {
    background-color: #004b9e;
}

.home-section .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}


.home-section .project {
    padding: 0.5rem 1rem;
    border: 1px solid #202020;
    border-radius: 0.5rem;
    cursor: pointer;
}